@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.introText {
  @apply text-3xl font-bold text-slate-200;
}

.musicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:100px;
}

.blueButton {
  background-color: #3B82F6;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #3B82F6;
  border-radius: 0.25rem;
}

.blueButton:hover {
  background-color: #1D4ED8;
  border-color: #1D4ED8;
} 

.slider-wrapper {
  background-image: linear-gradient(to right, #310ef7, #6fa6ff);
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border: 10px solid #2a77eb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: translateY(40px);
}

.slider-wrapper .slick-slide {
  margin-right: 3px;
  max-height:210px;
}

.slider-wrapper .slick-prev {
  left: -25px;
}

.slider-wrapper .slick-next {
  right: -25px;
}

.release-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(40, 17, 146);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-image {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

tr td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.homepage_top {
  background: rgb(11,36,59);
}

.homepage_middle {
  background: linear-gradient(45deg, rgb(253, 184, 255), rgb(175, 157, 241));
}

.homepage_bottom {
  background: repeating-linear-gradient(
    35deg,
    rgb(146, 79, 255),
    rgb(146, 79, 255) 20px, /* 20px spacing between color stops */
    #8a0ffd,   
    #8a0ffd 40px /* 40px spacing between color stops */
  );
}

.drop_down_text {
  animation: slide-down 2s ease-in 1s;
}

.slide_in_text {
  animation: slide-in 2s ease-in;
}

.bounce_button {
  animation:
  bounce 400ms
  alternate 
  infinite
  linear
}

@keyframes slide-down {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }

  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from{
    transform:translateX(-10%);
  }
  to {
    transform:translateX(0%);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

